@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
section,main,article > section{
    padding: 2vh;
}
article{
    border-radius: 2vh;
    border: 1px lightgray solid;
    padding: 2vh;
}

article > div{
    display: flex;
    justify-content: space-between;
}

button,select{
    border:  1px lightgray solid;
    border-radius: 2vh;
    padding: 1vh;
}

article > section > div{
    padding: 2vh;
}

.col-6{
    padding: 2vh;
}

article > div > div{
    display: flex;
    gap: 2vh;
}


