@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    background-color: #F8F8F8;
}

.opcion{
    margin: 1rem;
    color: #383838;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

}

.opcion:hover{
    color: black;
    border-radius: 1.1rem;

}

.categorias{
    border:  1px red solid;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}


section{
    background-color: #F8F8F8;
}

#productos{
    background-color: #F8F8F8;
}

#promos {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
    border-radius: 9px;
}

#promos:hover {
    transform: scale(1.05);
}

footer{
    background-color: #383838;
    margin-top: 20px;
    height: 300px;
}

footer > div{
    height: 300px;
}

footer > .row > div> a{
    color: white;
    text-decoration: none;
    text-align: center;
}

footer > .row > div> a :hover{
    text-decoration: underline white solid 1px;
}



footer > div >div> h3{
    color: white;
    text-align: center;
}