@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.opcion{
    padding: 1rem;
    color: white;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

}

nav > h3{
    color: white;
}

.opcion:hover{
    background: #E5278B;

}

.categorias{
    background-color: #241B2F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.promociones,.ingreso-super{
    background: #241B2F;
}


.promociones{
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.promos{
    border: #E5278B 2px solid;
    box-shadow: 0px 0px 10px;
    border-radius: 2rem;
    transition: transform 0.3s ease;
}


.promos:hover {
    transform: scale(1.1);
}




footer{
    padding-top: 10rem;
    padding-bottom: 3rem;
    background: linear-gradient(to bottom, #241B2F ,#DC8B39);
    
    display: flex;
    justify-content: space-evenly;
}

.condiciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 10px;
    border: 2px #E5278B solid;
    border-radius: 2rem;
    box-shadow: 0px 0px 10px 0px white;
    padding: 2rem;

}

.condiciones > a , .condiciones > h3{
    color: white;
    text-decoration: none;
}



.terminos:hover{
    text-decoration: underline white;
}
