@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

p,
h5,
label {
    color: black;
    font-family: "Poppins", sans-serif;

}

section{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.filas{
    padding: 2vh;
}

.producto{
    box-shadow: rgb(24, 23, 23) 3px 2px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vh;
    margin-top: 5vh;
    margin-bottom: 5vh;
    border-radius: 2vh;
    width: 50vh;
    height: 60vh;
}

.producto > div{
    display: flex;
    justify-content: center;
    /*flex-wrap: wrap*/;
    width: 20vh;
    height: 25vh;
}

.producto> *{
    text-align: center;
}



button{
    border-radius: 5vh !important;
    padding: 1vh;
    border: none;
    width: 25vh;
    transition: background 0.5s;
}

.producto > button:hover{
    background-color: black;
    color: white;
}


@media(max-width: 995px){
    nav > h4{
        display: none;    
    }
}

@media(max-width: 992px){
    .menu-items{
        height: 8vh;
        padding: 0px;
    }
}

@media(max-width: 790px){
    .menu-items{
        row-gap: 10px;
        flex-wrap: nowrap;
        height: 5vh;
    }
}

@media(max-width: 790px){
    .item{
        padding: 0px;
        display: flex;
    }
}

@media(max-width: 991px){
    .condiciones{
        padding: 0px;
        font-size: 13px;
    }
}

@media(max-width: 767px){
    .condiciones{
        font-size: 12px;
    }
}

@media(max-width: 547px){
    .condiciones{
        font-size: 10px;
    }
}

@media(max-width: 992px){
    .producto{
        width: 290px;
    }
}

@media(max-width: 768px){
    .producto{
        width: 210px;
    }
}

@media(max-width: 514px){
    .producto{
        width: 200px;
    }
}

@media(max-width: 514px){
    .producto > button{
        width: 10vh;
    }
}