@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

section{
    padding: 2vh;
    display: flex;
    flex-direction: column;
}

h1{
    width: 90vh;
    text-align: start;
    font-family: "Poppins", sans-serif
}

main{
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}

.productos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 2vh;
    border-radius: 3vh;
    box-shadow: rgb(24, 23, 23) 3px 5px 5px;
    width: 50vh;
}


.productos > img{
    width: 100px;
    height: 110px;

}

.opcion-compra{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5vh

}

.opcion-compra > *{
    margin: 1.5vh;
}

.opcion-compra > button{
    background: #FEDE5D;
    padding: 0.5vh;
    border-radius: 2vh;
    border: none;
    width: 8vh;
}

.opcion-compra > button:hover{
    background: #DC8B39;
}

.resumen-compras{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2.5vh;
    box-shadow: rgb(24, 23, 23) 3px 5px 5px;
    border-radius: 2vh;
}

.resumen-compras > div{
    padding: 2vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vh;
}

.resumen-compras > div > div{
    padding: 2vh;
}

.resumen-compras > button{
    border-radius: 2vh;
    padding: 1vh;
    border: none;
    
}

.resumen-compras > button:hover{
    background-color: black;
    color: white;
    
}

.conversor{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 2.5vh;
    box-shadow: rgb(24, 23, 23) 3px 5px 5px;
    border-radius: 2vh;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.conversor > * {
    margin-top: 2vh;
}

.conversor > div{
    padding: 2vh;
    display: flex;
    justify-content: space-between;

}

.conversor > .letra_pequeña{
    padding: 2vh;
    display: flex;
    justify-content: space-between;

}

.conversor > div > div  >  select{
    padding: 0.5vh;
    border-radius: 2vh;
    border: rgb(148, 146, 146) solid 1px;
    width: 50vh;
}

.conversor > div > button{
    width: 50vh;
    border-radius: 2vh;
    padding: 1vh;
    border: none;
}

.conversor > div > button:hover{
    background: black;
    color: white;

}


.seccion-conversion{
    display: flex;
}

.seccion-conversion > *{
    margin-left: 2vh;
}

@media(max-width: 1008px){
    main{
        flex-direction: column;
        align-items: center;
        gap: 5vh;
    }

    .conversor > div > div > select{
        width: 30vh;
    }

    .conversor > div{
        width: 60vh;
    }
}

@media(max-width: 538px){
    #pago{
        width: 60vh;
    }

    .resumen-compras > div{
        width: 60vh;
    }
}