@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

header > .container-fluid{
    background-color: #E9E9E9;
    display: flex;
    height: 45px;
    justify-content: end;
    align-items: center;
}

header > .container-fluid > nav > a{
    margin-right: 50px;
    color: #383838;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    font-size: 20px;
    padding-left: 20px;
}

#ayuda{
    background-image: url('./imgs/icons8_help_20px_1.png');
    background-repeat: no-repeat;
    background-position: left center;
}

#contacto{
    background-image: url('./imgs/icons8_user_20px.png');
    background-repeat: no-repeat;
    background-position: center left;
}

#local{
    background-image: url('./imgs/icons8_Location_20px.png');
    background-repeat: no-repeat;
    background-position: center left;
}

