@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.bg-body-custom{
    background-color: #241B2F;
}

i{
    color: white;
}


.opcion{
    padding: 1rem;
    color: white;
    font-family: "Poppins", sans-serif;
    text-decoration: none;

}

nav > h3{
    color: white;
    font-family: "Poppins", sans-serif;
}

.opcion:hover{
    background: #E5278B;

}

.categorias{
    background-color: #241B2F;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

section{
    display: flex;
    justify-content: space-evenly;
    background-color: #241B2F;
    padding: 2rem;
}

.producto-leche{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 2rem 2rem 2rem;
    border: 2px #E5278B solid;
    border-radius: 2rem;
    margin: 2rem;
    width: 20rem;
    height: 25rem;
}

.producto-leche:hover{
    box-shadow: #d12581 0px 0px 10px;
}


.texto{
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
}

.estilo-boton{
    color: white;
    text-align: center;
    font-family: "Poppins", sans-serif;
    border-radius: 1rem;
    padding: 0.5rem;
    border: none;
    background-color: #DC8B39;
    margin-top: 1rem;
    width: 10rem;
}

.estilo-boton:hover{
    background-color: #E5278B;
}

footer{
    border-top: #64F1B8 2px solid;
    box-shadow: #64F1B8 0px 0px 10px;
    padding-top: 2rem;
    padding-bottom: 3rem;
    background: linear-gradient(to bottom, #241B2F ,black);
    display: flex;
    justify-content: space-evenly;
}

.condiciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: white 2px solid;
    border-left: white 2px solid;

    padding: 2rem;
    width: 20rem;

}

.condiciones > a , .condiciones > h3{
    color: white;
    text-decoration: none;
}



.terminos:hover{
    text-decoration: underline white;
}
