@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    background-color: #F8F8F8;
}

nav > div > .opciones{
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
    text-align: center;
    text-decoration: none;
    color: #383838;
    margin-left: 1.1rem;
    margin-right: 1.1rem;
    background-color: #E9E9E9;
    border-radius: 3rem;
}

#lactventa {
    border: 1px solid #000000;
    width: 200px;
    padding: 10px;
    text-align: center;
    margin-top: 40px;
    border-radius: 9px;
    background-color: #f5f5f5;
    margin-left: 15px;
    margin-right: 15px;
}

footer{
    background-color: #383838;
    margin-top: 20px;
    height: 300px;
}

footer > div{
    height: 300px;
}

footer > .row > div> a{
    color: white;
    text-decoration: none;
    text-align: center;
}

footer > .row > div> a :hover{
    text-decoration: underline white solid 1px;
}



footer > div >div> h3{
    color: white;
    text-align: center;
}

.estilo-boton {
    border-radius: 8px;
    background-color: rgb(155, 243, 243);
}