{% extends "base.html" %}
{% load static %}

{% block titulo %}
Politica de Privacidad
{% endblock %}

{% block estilos%}
    <link rel="stylesheet" href="{% static 'css/leyes.css' %}">
{% endblock %}

{%block contenido%}
<div class="container">
    <h1>Política de Privacidad</h1>

    <h2>Acerca de Justo</h2>
    <p>Justo provee servicios de plataforma e-commerce en modalidad de software as a service (el “Servicio”) a varias tiendas y restaurantes (los “Comercios”), facilitando la venta de productos online a los Usuarios.</p>
    <p>El Servicio se presta desde el sitio web de cada Comercio o a través de una app gestionada por Justo, indistintamente denominadas la “Plataforma”.</p>

    <h2>Responsabilidad de Justo</h2>
    <p>Justo es responsable de la base de datos de los datos personales de los Usuarios. Accede a estos datos desde la primera interacción del Usuario con cualquier Comercio y los trata conforme a esta Política, independientemente de las políticas de privacidad de cada Comercio. No comparte datos entre Comercios ni permite acceso a datos de Usuarios sin transacciones.</p>

    <h2>Información que recopilamos</h2>
    <p>Nombre, Correo electrónico, Dirección de despacho, Teléfono celular, Cédula Nacional de Identidad, Interacciones del Usuario con la Plataforma: fecha y hora de acceso, productos comprados, etc. Datos para reembolsos bancarios si aplican. Información voluntaria como comentarios en redes sociales o emails. Sólo los primeros 6 dígitos y últimos 4 de tarjetas de crédito o débito. Información del dispositivo: dirección IP, tipo, sistema operativo, etc.</p>

    <h2>Propósitos del tratamiento</h2>
    <p>Para proveer y gestionar el Servicio a los Comercios y Usuarios. Mejorar la eficacia del Servicio y personalizar la experiencia del Usuario. Cumplir con obligaciones legales, contratos, defensa legal y prevención de fraudes. Propósitos de marketing y envío de comunicaciones comerciales.</p>

    <h2>Cookies</h2>
    <p>La Plataforma utiliza cookies para diversas finalidades como análisis y publicidad comportamental.</p>

    <h2>Información que compartimos</h2>
    <p>Justo no comparte datos personales con terceros salvo lo establecido en esta Política.</p>

    <h2>Mandatarios para el tratamiento de datos</h2>
    <p>Justo puede compartir datos con terceros para el tratamiento de datos en el contexto de los Servicios.</p>

    <h2>Almacenamiento y transferencia internacional de datos</h2>
    <p>Los datos se almacenan en servidores de Amazon Web Services en EE.UU., con medidas de seguridad adecuadas.</p>

    <h2>Conservación de datos</h2>
    <p>Los datos se conservan por cinco años o más si hay obligaciones legales de retención.</p>

    <h2>Derechos de los titulares de datos</h2>
    <p>Los Usuarios tienen derechos de acceso, modificación, bloqueo y cancelación de sus datos personales. Para ejercer estos derechos, pueden enviar un correo a protecciondatos@getjusto.com desde el correo usado en el registro.</p>
</div>

{%endblock%}