{% extends "base.html" %}
{% load static %}

{% block titulo %}
Terminos de Servicios
{% endblock %}

{% block estilos%}
    <link rel="stylesheet" href="{% static 'css/leyes.css' %}">
{% endblock %}

{%block contenido%}

<div class="container">
    <h1>Términos y Condiciones</h1>

    <h2>Introducción</h2>

    <h2>Definiciones</h2>
    <p>Empresa</p>
    <p>Pasarela de pagos</p>
    <p>Repartidores</p>
    <p>Servicio de Domicilio</p>
    <p>Sitio E-commerce</p>
    <p>Usuario</p>

    <h2>Objeto</h2>

    <h2>Términos y Condiciones de la Empresa</h2>

    <h2>Servicios ofrecidos por Justo en los Sitios de E-Commerce</h2>
    <p>Servicio de Intermediación de Domicilio</p>
    <p>Alcance geográfico del Servicio</p>
    <p>Restricciones para algunos productos y protección de menores de edad</p>
    <p>Cancelación y devolución de los pedidos</p>
    <p>Servicio al cliente</p>

    <h2>Medios de Pago</h2>

    <h2>Deberes de los Usuarios</h2>

    <h2>Responsabilidad</h2>
    <p>Respecto de la transacción</p>
    <p>Respecto del servicio de domicilio</p>

    <h2>Tratamiento de datos personales</h2>

    <h2>Propiedad intelectual de los contenidos</h2>
</div>


{%endblock%}