@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

div > h6{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    color: black;
    text-align: center;
}

ul > li > button{
    color: black !important;
}

main,
main > header,
.tab-content,.tab-pane,
div > section,
section > div,
.valor-stock{
    padding: 2vh;
}

header > ul{
    display: flex;
    justify-content: center;
}

div > section{
    display: flex;
    justify-content: center;
    gap: 2vh;
}

section > div{
    border-radius: 2vh;
    box-shadow: 0px 9px 14px -4px;
    display: flex;
    flex-direction: column;
}

.valor-stock{
    display: flex;
    justify-content: space-between;
}

button{
    border-radius: 2vh;
    padding: 1vh;
    font-family: "Roboto", sans-serif;
    outline: none;
    border: 1px lightgrey solid;
}

div > button:hover{
    background-color: #2B3035;
    color: white;
}

.col-md-3 > a{
    background-color: #2B3035;
    padding: 1vh;
    border-radius: 2vh;

}

.col-md-3 > a:hover{
    text-decoration: none;
}
