{% extends 'core/header_footer.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'CSS/estilo-productos.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Carniceria/168472-280-280.webp' %}" alt="pechuga-entera-pollo">
            <p>Granel Pechuga entera de pollo a granel kg 900 g ($3.990 x kg)</p>
            <h5>$3.591</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Carniceria/168471-280-280.webp' %}" alt="truto-pollo">
            <p>Granel Trutro entero de pollo a granel kg 1 kg ($3.190 x kg)</p>
            <h5>$3.190</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Carniceria/311050-280-280.webp' %}" alt="cerdo-chuleta">
            <p>Granel Pulpa de cerdo 1 kg <br> ($5.490 x kg)</p>
            <h5>$5.490</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Carniceria/176947-280-280.webp' %}" alt="chuleta-vetada-cerdo">
            <p>Granel Chuleta vetada cerdo kg 1 kg ($5.290 x kg)</p>
            <h5>$5.290</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Carniceria/176515-280-280.webp' %}" alt="chuleta-proporcionada-cerdo">
            <p>Granel Chuleta centro de cerdo porcionada kg 1 kg ($5.790 x kg)</p>
            <h5>$5.790</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Carniceria/186217-280-280.webp' %}" alt="pierna-cerdo">
            <p>Granel Pierna cerdo kg 1 kg <br> ($5.190 x kg)</p>
            <h5>$5.190</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Carniceria/210403-280-280.webp' %}" alt="carne-molida">
            <p>Cuisine & Co Carne Molida Vacuno 10% Grasa 320 g 1 un ($9.344 x kg)</p>
            <h5>$2.990</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Carniceria/350380-280-280.jpeg' %}" alt="lomo-vetado">
            <p>Al vacío Lomo Vetado kg <br>1.5 kg ($15.490 x kg)</p>
            <h5>$23.235</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Carniceria/259681-280-280.jpeg' %}" alt="posta-negra">
            <p>Al vacío Posta Negra kg 1.6 kg <br> ($10.290 x kg)</p>
            <h5>$16.464</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'JS/productos.js' %}"></script>
{% endblock %}