{% extends 'core/header_footer.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'CSS/estilo-productos.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/cervezas/9992020.png' %}" alt="cerveza-pack-24" width="200px">
            <p>Cerveza Stella Artolis lata 473 <br> CC x24</p>
            <h5>$20.990</h5>
            <button class="agregar">Agregar al carro</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/cervezas/9992435.png' %}" alt="cerveza-pack-24" width="200px">
            <p>Cerveza Corona botella 330 <br> CC x24</p>
            <h5>$22.360</h5>
            <button class="agregar">Agregar al carro</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/cervezas/9992019.png' %}" alt="cerveza-pack-24" width="200px">
            <p>Cerveza Budweiser lata 473 <br> CC x24</p>
            <h5>$19.000</h5>
            <button class="agregar">Agregar al carro</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/cervezas/9991223.png' %}" alt="cerveza-pack-24" width="200px">
            <p>Cerveza Becker lata 473 <br>CC x24</p>
            <h5>$12.990</h5>
            <button class="agregar">Agregar al carro</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/cervezas/9991834.png' %}" alt="cerveza-pack-24" width="200px">
            <p>Cerveza Royal Guard lata 470 <br> CC x24</p>
            <h5>$18.990</h5>
            <button class="agregar">Agregar al carro</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/cervezas/9994006.png' %}" alt="cerveza-pack-24" width="200px">
            <p>Cerveza Patagonia Red Lager lata 470 <br> CC x6</p>
            <h5>$5.990</h5>
            <button class="agregar">Agregar al carro</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/cervezas/9991596.png' %}" alt="cerveza-pack-24" width="200px">
            <p>Cerveza Heineken lata 470 <br> CC x24</p>
            <h5>$21.790</h5>
            <button class="agregar">Agregar al carro</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/cervezas/9992571.png' %}" alt="cerveza-pack-24" width="200px">
            <p>Cerveza Patagonia Hoppy Lager lata 470 <br> CC x24</p>
            <h5>$23.890</h5>
            <button class="agregar">Agregar al carro</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/cervezas/9991835.png' %}" alt="cerveza-pack-24" width="200px">
            <p>Cerveza Bear Beer Lager lata 500 <br> CC x24</p>
            <h5>$13.990</h5>
            <button class="agregar">Agregar al carro</button>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'JS/productos.js' %}"></script>
{% endblock %}