{% extends 'core/header_footer.html' %}
{% load static %}

{% block content %}
<section>

    <div class="accordion" id="accordionExample">

        <h1>Información legal</h1>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Aviso Legal / Términos de Uso
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Este documento establece las reglas y condiciones que rigen el uso del sitio
                        web por
                        parte de los usuarios. Puede incluir información sobre la propiedad intelectual,
                        limitaciones de
                        responsabilidad y resolución de disputas, entre otros.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Política de Privacidad
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Este documento describe cómo se recopilan, utilizan y protegen los datos
                        personales de
                        los usuarios. Debe incluir información sobre qué datos se recopilan, cómo se utilizan, si se
                        comparten con terceros y cómo los usuarios pueden ejercer sus derechos de privacidad.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Política de Cookies
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Este documento describe cómo se recopilan, utilizan y protegen los datos
                        personales de
                        los usuarios. Debe incluir información sobre qué datos se recopilan, cómo se utilizan, si se
                        comparten con terceros y cómo los usuarios pueden ejercer sus derechos de privacidad.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Avisos de Derechos de Autor y Propiedad Intelectual
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Estos avisos informan a los usuarios sobre quién posee los derechos de autor
                        del
                        contenido del sitio web y cómo se pueden utilizar o reproducir los materiales protegidos por
                        derechos de autor.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Información de Contacto
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Debe incluirse información de contacto válida para que los usuarios puedan
                        comunicarse
                        con el propietario del sitio web para consultas o problemas relacionados con el sitio.</p>
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Política de Devoluciones y Reembolsos
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Si el sitio vende productos o servicios, esta política establece las
                        condiciones bajo
                        las cuales los usuarios pueden devolver productos o solicitar reembolsos.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Ley Aplicable y Jurisdicción
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Si tienes alguna pregunta sobre estos Términos, puedes ponerte en contacto con
                        nosotros
                        a través
                        de [correo
                        electrónico / número de teléfono / dirección postal].</p>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}