{% extends 'core/header_footer.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'CSS/estilo-productos.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid">

    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Limpieza/263.webp' %}" alt="bolsa-basura-50x70">
            <p>Bolsa de Basura 50x70cm. 10u.</p>
            <h5>$500</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Limpieza/263 (1).webp' %}" alt="bolsa-basura-80x100">
            <p>Bolsa de Basura 80x110cm. 10u.</p>
            <h5>$1.400</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Limpieza/263 (2).webp' %}" alt="bolsa-basura-70x90">
            <p>Bolsa de Basura 70x90cm. 10u.</p>
            <h5>$900</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Limpieza/263 (3).webp' %}" alt="bolsa-basura-110x120">
            <p>Bolsa de Basura 110x120 5u.</p>
            <h5>$3.390</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Limpieza/263 (4).webp' %}" alt="Escobillon">
            <p>Escobillón de Madera</p>
            <h5>$1.250</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Limpieza/263 (5).webp' %}" alt="Esponja-multiuso">
            <p>Esponja Multiuso Clásica 4u.</p>
            <h5>$490</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Limpieza/263 (6).webp' %}" alt="Guantes-multiuso">
            <p>Guantes Multiuso (1 par)</p>
            <h5>$700</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Limpieza/263 (7).webp' %}" alt="Papel-higienico">
            <p>Papel Higiénico Jumbo 6un.</p>
            <h5>$14.990</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Limpieza/263 (8).webp' %}" alt="Virutilla-espiral-plateada">
            <p>Virutilla Espiral Plateada (3u.)</p>
            <h5>$590</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'JS/productos.js' %}"></script>
{% endblock %}