{% extends 'core/header_footer.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'CSS/estilo-productos.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Mascota/1.webp' %}" alt="alimento-perro-adulto-doko-15-kg">
            <p>Doko Alimento Perro Adulto Doko Carne y Pollo 15 kg</p>
            <h5>$25.990</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Mascota/2.webp' %}" alt="">
            <p>Alimento Perro Adulto Champion Dog Carne y Pollo 15 kg</p>
            <h5>$28.690</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Mascota/3.webp' %}" alt="">
            <p>Alimento Perro Adulto Master Dog Carne 15 kg</p>
            <h5>$26.490</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Mascota/4.webp' %}" alt="">
            <p>Alimento Perro Adulto Cachupin Carne <br> 15 kg</p>
            <h5>$21.890</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Mascota/5.webp' %}" alt="">
            <p>Alimento Perro Adulto Pedigree Carne Pollo y Cereal 15 kg</p>
            <h5>$25.990</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Mascota/6.webp' %}" alt="">
            <p>Alimento Gato Adulto Cat Chow Deli Mix 8 kg</p>
            <h5>$24.990</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Mascota/7.webp' %}" alt="">
            <p>Alimento Húmedo Perro Adulto Pedigree Carne Sobre 100 g</p>
            <h5>$750</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Mascota/8.webp' %}" alt="">
            <p>Alimento Perro Adulto Dog Chow Carne y Pollo 15 kg</p>
            <h5>$39.890</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Mascota/9.webp' %}" alt="">
            <p>Snack Perro Adulto Pedigree Dentastix Razas Grandes 7 un.</p>
            <h5>$3.250</h5>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>

</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'JS/productos.js' %}"></script>
{% endblock %}