{% extends "core/header_footer.html" %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'CSS/estilo_perfil.css' %}">
{% endblock %}

{% block content %}
<main class="container-fluid">
    <section class="row">
        <h2>Configuracion de perfil</h2>
        <form action="" class="col">
            <h4>Información personal</h4>
            <div class="row">
                <fieldset class="col-6">
                    <label for="nombre">Nombre</label>
                    <input type="text" placeholder="Ingresa tu nombre" id="nombre">
                </fieldset>
                <fieldset class="col-6">
                    <label for="apellido">Apellido</label>
                    <input type="text" placeholder="Ingresa tu nombre" id="apellido">
                </fieldset>
            </div>
            <div class="row">
                <fieldset class="col-12">
                    <label for="mail">Correo electronico</label>
                    <input type="email" placeholder="Ingresa tu correo electronico" id="mail">
                </fieldset>
                <fieldset class="col-12">
                    <button>Guardar cambios</button>
                </fieldset>
            </div>
        </form>
        <form action="" class="col">
            <h4>Seguridad</h4>
            <div class="row">
                <fieldset class="col-12">
                    <label for="pass">Contraseña</label>
                    <input type="password" placeholder="Ingresa tu contraseña" id="pass">
                </fieldset>
                <fieldset class="col-12">
                    <label for="confirm-pass">Confirma tu contraseña</label>
                    <input type="password" placeholder="Ingresa tu contraseña" id="confirm-pass">
                </fieldset>
                <fieldset class="col-12">
                    <button>Guardar cambios</button>
                </fieldset>
            </div>

        </form>
    </section>
</main>
{% endblock %}