{% extends 'core/header_footer.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static 'CSS/estilo-productos.css' %}">
{% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Promos/1.webp' %}" alt="">
            <p>Pack 24 un. Cerveza Stella Artois Lager 5.2° <br> 330 cc</p>
            <div>
                <h5>$13.856</h5>
                <h6>$23.890</h6>
            </div>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Promos/2.webp' %}" alt="">
            <p>Soprole Queso Gauda Laminado <br> 500 g</p>
            <div>
                <h5>$4.499</h5>
                <h6>$6.099</h6>
            </div>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Promos/3.webp' %}" alt="">
            <p>Leche en Polvo Nido Entera <br> 1.35 kg</p>
            <div>
                <h5>$9.990</h5>
                <h6>$14.490</h6>
            </div>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Promos/4.webp' %}" alt="">
            <p>Toalla de Papel Abolengo XL <br> 100 m</p>
            <div>
                <h5>$2.505</h5>
                <h6>$3.579</h6>
            </div>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Promos/5.jpeg' %}" alt="">
            <p>Río Bueno Queso mantecoso laminado <br> 500 g</p>
            <div>
                <h5>$5.699</h5>
                <h6>$7.179</h6>
            </div>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Promos/6.webp' %}" alt="">
            <p>La Crianza Hamburguesa de vacuno <br> 100 g</p>
            <div>
                <h5>$790</h5>
                <h6>$1.079</h6>
            </div>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img src="{% static 'imgs/Promos/7.webp' %}" alt="">
            <p>Papas Fritas Lay's Corte Americano 200 g</p>
            <div>
                <h5>$1.385</h5>
                <h6>$1.979</h6>
            </div>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Promos/8.webp' %}" alt="">
            <p>Bebida Coca Cola 1.25 L</p>
            <div>
                <h5>$1.090</h5>
                <h6>$1.740</h6>
            </div>
            <button class="agregar">Agregar al carrito</button>
        </div>
        <div class="col">
            <img src="{% static 'imgs/Promos/9.webp' %}" alt="">
            <p>Minuto Verde Choclo 500 g</p>
            <div>
                <h5>$1.590</h5>
                <h6>$1.990</h6>
            </div>
            <button class="agregar">Agregar al carrito</button>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script src="{% static 'JS/productos.js' %}"></script>
{% endblock %}