{% extends 'core/header_footer.html' %}
{% load static %}

{% block content %}
<section>
    <div class="accordion" id="accordionExample">

        <h1>Terminos y condiciones</h1>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Introducción
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Estos términos y condiciones de uso (en adelante, "Términos") regulan el acceso y uso
                        del sitio
                        web Mimarket
                        (en adelante, el "Sitio Web"). Al acceder o utilizar el Sitio Web, aceptas estos Términos en
                        su
                        totalidad.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Uso del sitio web
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">El uso del Sitio Web está sujeto a estos Términos y a todas las leyes y
                        regulaciones
                        aplicables.
                        No debes
                        utilizar el Sitio Web de ninguna manera que pueda causar daño al mismo o a terceros, o que
                        sea
                        ilegal,
                        fraudulento o perjudicial de cualquier manera.</p>
                    <p class="texto">Nos reservamos el derecho de restringir el acceso al Sitio Web o a ciertas
                        áreas del
                        mismo, a
                        nuestra entera
                        discreción, sin previo aviso.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Contenido del sitio web
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Todo el contenido del Sitio Web es propiedad de Mimarket o de sus licenciantes
                        y está
                        protegido
                        por las leyes
                        de propiedad intelectual correspondientes. Este contenido incluye, pero no se limita a,
                        textos,
                        gráficos,
                        logotipos, imágenes, videos, software y cualquier otro material presente en el Sitio Web.
                    </p>
                    <p class="texto">No puedes utilizar, copiar, modificar, distribuir, transmitir, exhibir,
                        realizar,
                        reproducir,
                        publicar,
                        licenciar, crear trabajos derivados, transferir o vender ningún contenido obtenido del Sitio
                        Web
                        sin el
                        consentimiento previo por escrito de Mimarket.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Enlace a terceros
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">El Sitio Web puede contener enlaces a sitios web de terceros. Estos enlaces se
                        proporcionan
                        únicamente para
                        tu conveniencia. No tenemos control sobre el contenido de estos sitios web de terceros y no
                        asumimos
                        responsabilidad alguna por el contenido, políticas de privacidad o prácticas de cualquier
                        sitio
                        web de
                        terceros.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Registro y cuentas de usuarios
                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Para acceder a ciertas áreas del Sitio Web o utilizar ciertos servicios, es
                        posible que
                        necesites
                        registrarte
                        y crear una cuenta de usuario. Al registrarte, aceptas proporcionar información precisa,
                        actualizada y
                        completa sobre ti.</p>
                    <p class="texto">Eres responsable de mantener la confidencialidad de tu cuenta y contraseña, y
                        de
                        restringir el
                        acceso a tu
                        cuenta. Aceptas asumir la responsabilidad de todas las actividades que ocurran bajo tu
                        cuenta o
                        contraseña.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    Limitación de responsabilidad
                </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">En la medida máxima permitida por la ley, no seremos responsables ante ti por
                        ningún
                        daño
                        directo, indirecto,
                        incidental, especial, consecuente o punitivo, incluidos, entre otros, daños por pérdida de
                        beneficios,
                        datos, uso o cualquier otra pérdida intangible, resultantes de tu acceso o uso del Sitio
                        Web.
                    </p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                    Modificaciones
                </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Nos reservamos el derecho de modificar estos Términos en cualquier momento, a
                        nuestra
                        entera
                        discreción. Las
                        modificaciones entrarán en vigencia inmediatamente después de su publicación en el Sitio
                        Web.
                    </p>
                    <p class="texto">Es tu responsabilidad revisar periódicamente estos Términos para estar al tanto
                        de las
                        modificaciones. El uso
                        continuado del Sitio Web después de la publicación de modificaciones constituirá tu
                        aceptación
                        de dichas
                        modificaciones.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                    Ley aplicable
                </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p class="texto">Estos Términos se regirán e interpretarán de acuerdo con las leyes de chile,
                        sin tener
                        en cuenta
                        sus
                        disposiciones sobre conflicto de leyes.</p>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                    Contacto
                </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                <p class="texto">Si tienes alguna pregunta sobre estos Términos, puedes ponerte en contacto con
                    nosotros
                    a través
                    de [correo
                    electrónico / número de teléfono / dirección postal].</p>
            </div>
        </div>
    </div>
    </div>
</section>
{% endblock %}